body {
  font-family: $font-family;
  font-weight: map-get($font-weights, s);
  line-height: map-get($line-heights, s);
  font-size: map-get($font-sizes, s);
}

@each $sizeName, $size in $font-sizes {

  .font-#{$sizeName} {
    font-size: $size;

    @each $weightName, $weight in $font-weights {

      &-#{$weightName}{
        font-weight: $weight;
        font-size: $size;

        @each $lineHeightName, $height in $line-heights {
          &-#{$lineHeightName} {
            line-height: $height;
            font-weight: $weight;
            font-size: $size;
          }
        }

      }
      
    }
  }
}