@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');

$colors: (
  primary: #1A4F8B,
  secondary: #BF1541,
  light: #FFFFFF,
  dark: #000000,
  normal-gray: #B0B0B0,
  light-gray: #C3C3C3,
  dark-gray: #767676
);

$colors-primary: map-get($colors, 'primary');
$colors-secondary: map-get($colors, 'secondary');
$colors-light: map-get($colors, 'light');
$colors-dark: map-get($colors, 'dark');
$colors-normal-gray: map-get($colors, 'normal-gray');
$colors-light-gray: map-get($colors, 'light-gray');
$colors-dark-gray: map-get($colors, 'dark-gray');

$spaccings: (
  xxl: 50,
  xl: 36,
  l: 29,
  m: 17,
  xm: 15,
  s: 12,
  xs: 10,
  xxs: 5,
  none: 0
);

$icon-size: 25px;

$line-heights: (
  xl: 42.19px,
  l: 20px,
  m: 18.75px,
  s: 16px,
);

$font-family: 'Roboto', sans-serif;

$font-sizes: (
  l: 36px,
  m: 16px,
  s: 14px
);

$font-weights: (
  l: 700,
  m: 400,
  s: 300
);

$svgs: (
  icon-logo: './assets/logo.svg',
  icon-user: './assets/user-icon.svg',
  icon-male: './assets/male-icon.svg',
  icon-female: './assets/female-icon.svg',
);

$grid-cols: 12;
$grid-bp-sm: 576;
$grid-bp-md: 768;
$grid-bp-lg: 992;
$grid-bp-xl: 1200;
$map-grid-props: (
  '': 0,
  '-sm': $grid-bp-sm,
  '-md': $grid-bp-md,
  '-lg': $grid-bp-lg,
  '-xl': $grid-bp-xl
);

$breakpoints: (
    phone: 640px,           
    tablet: 768px,       
    desktop: 1024px
);

$unit-intervals: (
	'px': 1, 
	'em': 0.01, 
	'rem': 0.1
) !default;